<!--
<form class="well contact-form" method="post" action="/contact/edit/{X{ item.id }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">新增授权</button>
    <h3>Editing Contact</h3>
  </div>
  <div class="modal-body">
       {x csrf_token %}
       {x form.as_p }} <!-- {form|crispy } if you use django-crispy-forms
  </div>
  <div class="modal-footer">
       <input class="btn btn-primary" type="submit" value="Save" />
       <input name="cancel" class="btn" type="submit" value="Cancel"/>
  </div>
</form>
-->


<!--
<div class="panel panel-default">
    <div class="panel-heading">好友列表</div>
    <div class="panel-body">
        <div class="list-group" role="group" aria-label="好友列表">
            <button type="button" class="list-group-item" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="张三">张三
            </button>
            <button type="button" class="list-group-item" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="李四">李四
            </button>
            <button type="button" class="list-group-item" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="王二">王二
            </button>
        </div>
    </div>
</div>
-->
<!-----------for add_new_priv button : modal--------->
<div class="modal fade" id="addNewPrivModal" tabindex="-1" role="dialog" aria-labelledby="addNewPrivModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="addNewPrivModalLabel">New message: 新增授权</h4>
            </div>
            <div class="modal-body">
                <div style="height:450px;overflow:auto;">
                    <form id="grant_new_form" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="ins_host_add" class="control-label">主机地址:</label>
                            <input type="text" class="form-control" id="ins_host_add" name="ins_host_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_user_add" class="control-label">授权用户:</label>
                            <input type="text" class="form-control" id="grant_user_add" name="grant_user_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_host_add" class="control-label">授权主机:</label>
                            <input type="text" class="form-control" id="grant_host_add" name="grant_host_add" placeholder="多个ip请用','隔开">
                        </div>
                        <div class="form-group">
                            <label for="grant_db_add" class="control-label">数据库:</label>
                            <input type="text" class="form-control" id="grant_db_add" name="grant_db_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_tbs_add" class="control-label">数据表:</label>
                            <input type="text" class="form-control" id="grant_tbs_add" name="grant_tbs_add" placeholder="多张表请用','隔开">
                        </div>
                        <div class="form-group">
                            <label for="remark" class="control-label">备注:</label>
                            <input type="text" class="form-control" id="remark" name="remark">
                        </div>

                        <!-- for mulselect -->
                        <div class="row">
                            <div class="col-xs-5">
                                <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
                                    {% for priv in mysql_privs %}
                                        <option value="{{ priv }}">{{ priv }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-xs-2">
                                <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                                <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                                <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                            </div>

                            <div class="col-xs-5">
                                <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple"></select>
                            </div>
                        </div>
                        <!-- for mulselect done -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="confirm_add" name="confirm_add" type="submit" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="confirm_add" name="confirm_add" type="submit" class="btn btn-primary" form="grant_new_form">确认新增</button>
            </div-->
        </div>
    </div>
</div>
<!--------for modify button ->  modal: modify_modal--------------->
<div class="modal fade" id="addIpModal" tabindex="-1" role="dialog" aria-labelledby="addIpModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="addIpModalLabel">New message: 新增授权IP</h4>
            </div>
            <div class="modal-body">
                <div style="height:350px;overflow:auto;">
                    <form id="add_ip_form" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="ins_host_add" class="control-label">主机地址:</label>
                            <input type="text" class="form-control" id="ins_host_add" name="ins_host_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_user_add" class="control-label">授权用户:</label>
                            <input type="text" class="form-control" id="grant_user_add" name="grant_user_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_host_add" class="control-label">授权主机:</label>
                            <input type="text" class="form-control" id="grant_host_add" name="grant_host_add" placeholder="多个ip请用','隔开">
                        </div>
                        <!--div class="form-group">
                            <label for="grant_db_add" class="control-label">数据库:</label>
                            <input type="text" class="form-control" id="grant_db_add" name="grant_db_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_tbs_add" class="control-label">数据表:</label>
                            <input type="text" class="form-control" id="grant_tbs_add" name="grant_tbs_add">
                        </div-->
                        <div class="form-group">
                            <label for="remark" class="control-label">备注:</label>
                            <input type="text" class="form-control" id="remark" name="remark">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="confirm_add_ip" name="confirm_add_ip" type="submit" class="btn btn-primary">确认新增IP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// for privs/ips/tbs \n show
    function getStr(s) {
        var strList = s.split(',');
        var newStr = "";
        for (var l=0;l<strList.length;l++) {
            if (strList[l].trim().length > 0) {
                newStr += strList[l].trim() + ","
            }
        }
        return newStr.substring(0, newStr.length-1);
    }

// for modifyModal
    $(document).on('click',"#mytable tr td button[name='modify']",function() {
        $("#confirm_add").attr('name','confirm_modify');  // change name='confirm_modify'
        //td的id
        //alert($(this).attr("id"));
        //tr的id
        //console.log($(this).parent().parent().attr("id"));
        //console.log($(this).parent().parent().children().eq(1).html());
        var myrow=$(this).parent().parent().children();
        $("#confirm_add").val(myrow.eq(0).html());
        $("#addNewPrivModal input[name='ins_host_add']").val(myrow.eq(1).html());
        $("#addNewPrivModal input[name='grant_user_add']").val(myrow.eq(2).html()).attr("readonly","readonly");
        $("#addNewPrivModal input[name='grant_host_add']").val(getStr(myrow.eq(3).html()));
        //$("#addNewPrivModal input[name='grant_db_add']").val(myrow.eq(5).html()).attr("readonly","readonly");
        $("#addNewPrivModal input[name='grant_db_add']").val(getStr(myrow.eq(5).html()));
        $("#addNewPrivModal input[name='grant_tbs_add']").val(getStr(myrow.eq(6).html()));
        $("#addNewPrivModal input[name='remark']").val(myrow.eq(11).html());
        var privs=myrow.eq(4).html().split(',');
        //console.log(privs);
        var r_opts='';
        var b=[];
        for (var i=0; i<privs.length; i++) {
            var p=privs[i].trim().toUpperCase();
            b.push(p);
            r_opts+='<option value="'+p+'">'+p+'</option>\n'
        }
        $("#undo_redo_to").html(r_opts);
        // done for undo_redo_to
        var left = [];
        var left_list=$("#undo_redo").html().trim().split('</option>');
        for (var j=0; j<left_list.length-1; j++){
            left.push(left_list[j].split('>')[1])
        }
        var left_minus_b = left.filter(function(v){ return !(b.indexOf(v) > -1) }).concat(b.filter(function(v){ return !(left.indexOf(v) > -1)}));
        //console.log("left_minus_b:" + left_minus_b);
        // for left multiselect minus right select opts
        var l_opts = '';
        for (var k=0;k<left_minus_b.length;k++){
            var lp=left_minus_b[k].trim().toUpperCase();
            l_opts+='<option value="'+lp+'">'+lp+'</option>\n'
        }
        $("#undo_redo").html(l_opts);
        //$("#modifyModal input[name='from[]']").val(myrow.eq(1).html());
        //$("#modifyModal input[name='to[]']").val(myrow.eq(1).html());
    });
    // for modifyModal done
</script>

<!--------for add_ip button ->  modal: addIpmodal--------------->
<script>
    $(document).on('click',"#mytable tr td button[name='add_ip']",function() {
        //td的id
        //alert($(this).attr("id"));
        //tr的id
        console.log($(this).parent().parent().attr("id"));
        console.log($(this).parent().parent().children().eq(1).html());
        var myrow=$(this).parent().parent().children();
        $("#confirm_add_ip").val(myrow.eq(0).html());
        $("#addIpModal input[name='ins_host_add']").val(myrow.eq(1).html());
        $("#addIpModal input[name='grant_user_add']").val(myrow.eq(2).html()).attr("readonly","readonly");
        $("#addIpModal input[name='grant_host_add']").val(getStr(myrow.eq(3).html()));
        $("#addIpModal input[name='remark']").val(myrow.eq(11).html());
        //$("#modifyModal input[name='from[]']").val(myrow.eq(1).html());
        //$("#modifyModal input[name='to[]']").val(myrow.eq(1).html());
    });
    // for addIpModal done
</script>
<!--------for update_pwd button ->  modal: update_pwd_modal ------>
<div class="modal fade" id="updatePwdModal" tabindex="-1" role="dialog" aria-labelledby="updatePwdModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="updatePwdModalLabel">New message: 修改密码</h4>
            </div>
            <div class="modal-body">
                <div style="height:350px;overflow:auto;">
                    <form id="add_ip_form" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="ins_host_add" class="control-label">主机地址:</label>
                            <input type="text" class="form-control" id="ins_host_add" name="ins_host_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_user_add" class="control-label">授权用户:</label>
                            <input type="text" class="form-control" id="grant_user_add" name="grant_user_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_host_add" class="control-label">授权主机:</label>
                            <input type="text" class="form-control" id="grant_host_add" name="grant_host_add" placeholder="多个ip请用','隔开">
                        </div>
                        <!--div class="form-group">
                            <label for="grant_db_add" class="control-label">数据库:</label>
                            <input type="text" class="form-control" id="grant_db_add" name="grant_db_add">
                        </div>
                        <div class="form-group">
                            <label for="grant_tbs_add" class="control-label">数据表:</label>
                            <input type="text" class="form-control" id="grant_tbs_add" name="grant_tbs_add">
                        </div-->
                        <div class="form-group">
                            <label for="update_pwd_add" class="control-label">修改密码:</label>
                            <input type="text" class="form-control" id="update_pwd_add" name="update_pwd_add" placeholder="请输入新密码.">
                        </div>
                        <div class="form-group">
                            <label for="remark" class="control-label">备注:</label>
                            <input type="text" class="form-control" id="remark" name="remark">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button id="confirm_update_pwd" name="confirm_update_pwd" type="submit" class="btn btn-primary">确认修改密码</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click',"#mytable tr td button[name='update_pwd']",function() {
        //td的id
        //alert($(this).attr("id"));
        //tr的id
        console.log($(this).parent().parent().attr("id"));
        console.log($(this).parent().parent().children().eq(1).html());
        var myrow=$(this).parent().parent().children();
        $("#confirm_update_pwd").val(myrow.eq(0).html());
        $("#updatePwdModal input[name='ins_host_add']").val(myrow.eq(1).html());
        $("#updatePwdModal input[name='grant_user_add']").val(myrow.eq(2).html()).attr("readonly","readonly");
        $("#updatePwdModal input[name='grant_host_add']").val(getStr(myrow.eq(3).html())).attr("readonly","readonly");
        $("#updatePwdModal input[name='update_pwd_add']").val(myrow.eq(7).html());
        $("#updatePwdModal input[name='remark']").val(myrow.eq(11).html());
        //$("#modifyModal input[name='from[]']").val(myrow.eq(1).html());
        //$("#modifyModal input[name='to[]']").val(myrow.eq(1).html());
    });
    // for updatePwdModal done
</script>

<!--------for update_pwd button ->  modal: update_pwd_modal ------>
<!--------for check_status button ->  modal: check_status_modal -->
<div class="modal fade" id="checkStatusModal" tabindex="-1" role="dialog" aria-labelledby="checkStatusModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" style="width:950px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="checkStatusModalLabel">New message: 授权状态</h4>
            </div>
            <div class="modal-body" id="check_priv_status">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <!--button id="confirm_add" name="confirm_add" type="button" class="btn btn-primary">确认新增</button-->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click',"#mytable tr td button[name='check_status']",function() {
        //td的id
        //alert($(this).attr("id"));
        //tr的id
        console.log($(this).parent().parent().attr("id"));
        console.log($(this).parent().parent().children().eq(1).html());
        var myrow=$(this).parent().parent().children();
        var addr="{{ addr }}";
        //var instanceaddr="<tr><th><strong>数据库地址: </strong></th><th>"+myrow.eq(1).html()+"[ {#{ addr }#} ]</th></tr>";
        var instanceaddr="<tr><th><strong>数据库地址: </strong></th><th>[DB地址: "+addr.split(':')[1]+"端口:"+addr.split(':')[2]+"]</th></tr>";
        var grantuser="<tr><th><strong>授权用户: </strong></th><th>"+myrow.eq(2).html()+"</th></tr>";
        var grantuserpwd="<tr><th><strong>用户密码: </strong></th><th>"+myrow.eq(7).html()+"</th></tr>";
        var granthost="<tr><th><strong>授权IP: </strong></th><th>"+getStr(myrow.eq(3).html())+"</th></tr>";
        var grantdb="<tr><th><strong>数据库: </strong></th><th>"+getStr(myrow.eq(5).html())+"</th></tr>";
        var granttbs="<tr><th><strong>授权表: </strong></th><th>"+getStr(myrow.eq(6).html())+"</th></tr>";
        var grantprivs="<tr><th><strong>权限: </strong></th><th>"+getStr(myrow.eq(4).html())+"</th></tr>";
        var grantremark="<tr><th><strong>备注: </strong></th><th>"+myrow.eq(11).html()+"</th></tr>";
        var check_status="<table class='table table-bordered'>"+instanceaddr+grantuser+grantuserpwd+granthost+grantdb+granttbs+grantprivs+grantremark+"</table>";
        $("#check_priv_status").html(check_status);
        //$("#modifyModal input[name='from[]']").val(myrow.eq(1).html());
        //$("#modifyModal input[name='to[]']").val(myrow.eq(1).html());
    });
    // for checkStatusModal done
</script>

<!--------for delete button ->  modal: delete_modal -------------->
<!--script>
    $(document).on('click',"#mytable tr td button[name='delete']",function() {
        var myrow=$(this).parent().parent().children();
    });
</script-->

<!--
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
-->
<script>

    jQuery(document).ready(function($) {
        $('#undo_redo').multiselect();
    });

    $("#add_new_priv").on('click', function () {
        $("#addNewPrivModal input[name^='grant']").val('').removeAttr("readonly");
        $("#addNewPrivModal input[name='remark']").val('');
        //$("#addNewPrivModal select[id='undo_redo_to']").html('');

    });


    $(document).ready(function(){
        var hosttag_val=document.getElementsByName("hosttag")[0].value;
        var btn = document.getElementById("add_new_priv");
        btn.setAttribute('data-whatever', hosttag_val);
    });

    var sel_index = 0;
    $("#hosttag").change(function(){
        var sel_index = $("#hosttag option:selected").index();
        var sel_val = $("#hosttag option").eq(sel_index).val();
        $("#hosttag option:selected").attr("selected",true).siblings().attr("selected",false);
        var btn = document.getElementById("add_new_priv");
        btn.setAttribute('data-whatever', sel_val);
    });


    $(document).ready(function () {
        // modal: addNewPrivModal
        $('#addNewPrivModal').on('show.bs.modal', function () {
            var modal = $(this);
            var select_val = $("#hosttag option:selected").val();
            modal.find('.modal-title').text('新增授权: ' + select_val);
            modal.find('.modal-body input[id="ins_host_add"]').val(select_val);
            modal.find('.modal-body input[id="ins_host_add"]').attr("readonly","readonly");
            modal.find('.modal-body input[id="grant_db_add"]').val('{{ dbname }}');//.attr("readonly","readonly")
        });
        // modal: addIpModal
        $('#addIpModal').on('show.bs.modal', function () {
            var modal = $(this);
            var select_val = $("#hosttag option:selected").val();
            modal.find('.modal-title').text('新增授权IP: ' + select_val);
            modal.find('.modal-body input[id="ins_host_add"]').val(select_val);
            modal.find('.modal-body input[id="ins_host_add"]').attr("readonly","readonly")
        });

        // modal: updatePwdModal
        $('#updatePwdModal').on('show.bs.modal', function () {
            var modal = $(this);
            var select_val = $("#hosttag option:selected").val();
            modal.find('.modal-title').text('新增授权IP: ' + select_val);
            modal.find('.modal-body input[id="ins_host_add"]').val(select_val);
            modal.find('.modal-body input[id="ins_host_add"]').attr("readonly","readonly")
        });

{#        $('#exampleModal').on('show.bs.modal', function (event) {#}
{#            var button = $(event.relatedTarget); // 触发事件的按钮#}
{#            var recipient = button.data('whatever'); // 解析出data-whatever内容#}
{#            var modal = $(this);#}
{#            modal.find('.modal-title').text('Message To ' + recipient);#}
{#            modal.find('.modal-body input[id="ins_host_add"]').val(recipient);#}
{#            modal.find('.modal-body input[id="ins_host_add"]').attr("readonly","readonly")#}
{#        });#}

        // for 'confirm_add'
        $("#confirm_add").click(function() {
            var ins_host_add = document.getElementById('ins_host_add').value;
            var grant_user_add = document.getElementById('grant_user_add').value;
            var grant_host_add = document.getElementById('grant_host_add').value;
            var grant_db_add = document.getElementById('grant_db_add').value;
            var grant_tbs_add = document.getElementById('grant_tbs_add').value;
            var remark = document.getElementById('remark').value;
            var grant_priv_add = [];
            var a = document.getElementById('undo_redo');
            var b = document.getElementById('undo_redo_to');
            for (var i = 0; i < b.length; i++) {
                grant_priv_add.push(b[i].text)
            }

            var data = {
                'ins_host_add:': ins_host_add,
                'grant_user_add:': grant_user_add,
                'grant_host_add:': grant_host_add,
                'grant_db_add:': grant_db_add,
                'grant_tbs_add:': grant_tbs_add,
                'remark:': remark,
                'grant_priv_add:': grant_priv_add
            };
            console.log(data); /*
            console.log('ins_host_add:'+ins_host_add +'\n'+
                        'grant_user_add:'+grant_user_add +'\n'+
                            'grant_host_add:'+grant_host_add+'\n'+
                            'grant_db_add:'+grant_db_add+'\n'+
                            'grant_tbs_add:'+grant_tbs_add+'\n'+
                            'remark:'+remark+'\n'+
                            'grant_priv_add:'+grant_priv_add +'.'
            );


                ins_host_add:office-dev
                grant_user_add:qihengshan
                grant_host_add:192.168.46.141,192.168.47.142,%
                grant_db_add:amos_ota
                grant_tbs_add:ota_base_ecu,ota_task_info
                remark:测试上线
                grant_priv_add:ALL,ALTER,ALTER ROUTINE,CREATE.
             */

            if ($.trim(remark).length == 0){
                alert("请填写合适的授权备注!!");
                return false;
            }
        });
            //return false;
{#            $.ajax({#}
{#                type: "POST",#}
{#                url:"/grant_privileges/",#}
{#                data:{'sqlcontent':sqlcontent,#}
{#                    'apprea':apprea,#}
{#                    'category_name':"{{ category_name }}",#}
{#                    'category_ip':"{{ category_ip }}",#}
{#                    'category_port':"{{ category_port }}",#}
{#                    'category_dbname':"{{ category_dbname }}",#}
{#                    'btflag_sqlhash':"{{ btflag_sqlhash }}"#}
{#                },#}
{#                success: function(){#}
{#                    //window.open('/sqlaudit/applyonline/','_self')#}
{#                    //var submit_succ_tag = "{{ submit_succ_tag }}";#}
{#                    //if (submit_succ_tag == "succ"){#}
{##}
{#                    //#}
{#                    swal({#}
{#                        title: "提交成功",#}
{#                        text: sqlcontent.substr(0,30),#}
{#                        type: "warning",#}
{#                        confirmButtonColor: "#DD6B55",#}
{#                        confirmButtonText: "Yes!",#}
{#                        //cancelButtonText: "No, cancel plx!",#}
{#                        closeOnConfirm: true },#}
{#                            function(isConfirm){#}
{#                                if (isConfirm) {#}
{#                                    //swal("Deleted!", "Your imaginary file has been deleted.", "success");#}
{#                                    $("#content").val('').attr('readonly',false);#}
{#                                    $("#check_category option").siblings().attr("selected", false);#}
{#                                    $("#speed_apply_online").attr("disabled", true);#}
{#                                    $("#applyreason").addClass('myhide');#}
{#                                    $("#dbname").addClass('myhide');#}
{#                                } else {#}
{#                                    //swal("Cancelled", "Your imaginary file is safe :)", "error");#}
{#                                }#}
{#                            });#}
{#                        //#}
{#                        /*#}
{#                        var res = confirm("以上SQL提交上线成功:\n" + sqlcontent + '点击"确定"以刷新页面!!');#}
{#                        if(res){#}
{#                            // clean content.val#}
{#                            //window.location.reload();#}
{#                            $("#content").val('');#}
{#                            $("#check_category option").siblings().attr("selected", false);#}
{#                            $("#speed_apply_online").attr("disabled", true);#}
{#                            $("#applyreason").addClass('myhide');#}
{#                            $("#dbname").addClass('myhide');#}
{#                        }#}
{#                        */#}
{#                        //alert("以上SQL提交上线成功:\n" + sqlcontent + '!!');#}
{#                        //}#}
{#                    },#}
{#                    error: function () {#}
{#                        // for applyonine failed#}
{#                        var err_message = "{{ applyonline_err }}" ? "{{ applyonline_err }}" : 'ERR_UNDEFIEND';#}
{#                        swal("something wrong ,please try again or connect DBA group!!\n" +#}
{#                        "err_message:" + err_message);#}
{#                    }#}
{#                });#}
{#            });#}
        // for 'confirm_add done'


    });



</script>

<div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
               aria-hidden="true">×
            </button>
            <h4 class="modal-title" id="myModalLabel">
               ADD NEW PRIVILEGES
            </h4>
         </div>
         <div class="modal-body">
            新增授权: {{ addr }}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">
               关闭
            </button>
            <button type="button" class="btn btn-primary">
               提交更改
            </button>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
   $(function () { $('#myModal').modal('hide')});
</script>
<script>
   $(function () { $('#myModal').on('hide.bs.modal', function () {
      alert('QHS TEST! 嘿，我听说您喜欢模态框...');})
   });
</script>

<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
            </div>
            <div class="modal-body">
            <div style="height:450px;overflow:auto; ">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="ins_host_add" class="control-label">主机地址:</label>
                        <input type="text" class="form-control" id="ins_host_add">
                    </div>
                    <div class="form-group">
                        <label for="grant_user_add" class="control-label">授权用户:</label>
                        <input type="text" class="form-control" id="grant_user_add">
                    </div>
                    <div class="form-group">
                        <label for="grant_host_add" class="control-label">授权主机:</label>
                        <input type="text" class="form-control" id="grant_host_add" placeholder="多个ip请用','隔开">
                    </div>
                    <div class="form-group">
                        <label for="grant_priv_add" class="control-label">授权:</label>
                        <input type="text" class="form-control" id="grant_priv_add">
                    </div>
                    <div class="form-group">
                        <label for="grant_db_add" class="control-label">数据库:</label>
                        <input type="text" class="form-control" id="grant_db_add">
                    </div>
                    <div class="form-group">
                        <label for="grant_db_add" class="control-label">数据库:</label>
                        <input type="text" class="form-control" id="grant_db_add">
                    </div>
                    <div class="form-group">
                        备注:
                        <input type="text" class="form-control" id="remark">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">备注:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>

                    <!!!!!-- for mulselect --!!!>
                    <div class="row">
                        <div class="col-xs-5">
                            <select name="from[]" id="undo_redo" class="form-control" size="13" multiple="multiple">
                                <option value="1">C++</option>
                                <option value="2">C#</option>
                                <option value="3">Haskell</option>
                                <option value="4">Java</option>
                                <option value="5">JavaScript</option>
                                <option value="6">Lisp</option>
                                <option value="7">Lua</option>
                                <option value="8">MATLAB</option>
                                <option value="9">NewLISP</option>
                                <option value="10">PHP</option>
                                <option value="11">Perl</option>
                                <option value="12">SQL</option>
                                <option value="13">Unix shell</option>
                            </select>
                        </div>

                        <div class="col-xs-2">
                            <button type="button" id="undo_redo_undo" class="btn btn-primary btn-block">undo</button>
                            <button type="button" id="undo_redo_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                            <button type="button" id="undo_redo_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                            <button type="button" id="undo_redo_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button type="button" id="undo_redo_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                            <button type="button" id="undo_redo_redo" class="btn btn-warning btn-block">redo</button>
                        </div>

                        <div class="col-xs-5">
                            <select name="to[]" id="undo_redo_to" class="form-control" size="13" multiple="multiple"></select>
                        </div>
                    </div>
                    <!!!!!!!-- for mulselect done --!!!>
                    </form>
                </div
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="confirm_add" name="confirm_add" type="button" class="btn btn-primary">确认新增</button>
            </div>
        </div>
    </div>
</div-->